body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: white;
}

//Dashboard
.container {
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px 50px;
    margin-left:6vw;
}

//Items in Dashboard
.Item-cu {
    margin: 30px 0px;
    // box-shadow: 0px 0px 5px lightgrey;
    padding: 10px;
    margin-bottom:-20px;
}

//Cart
.cart-container{
    width:85%;
    height:max-content + 5vh;
    margin: auto;
    align-self: center;
    margin-top: 10vh;
    // border-color: rgb(29, 40, 36);
    // border:1px solid black;
    padding:35px;
    display: flex;
    flex-direction:column;
    box-shadow: 0px 0px 5px gray;

    .total-amount{
        display: flex;
        justify-content: flex-end   ;
        width: 100%;
        font-size: larger;
    }
}

//Items in cart
.CartItem-container{
    
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: 20px;
    
            .item-details {
                margin-left: 20px;
                font-size: 13px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
                .dropdown {
                    margin-top: 20px;
                }
            }
    
            .item-price {
                width: 500px;
                display: flex;
                justify-content: flex-end;
                font-size: larger;
                font-weight: 600;
            }
        
}